.booking-info {
    display: block;
    padding: 20px;
    background-color: #000;
    color: var(--primary-color);
    border-radius: 10px;
    margin: 20px;
    justify-content: center;
}

.booking-content{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.booking-time {
    text-align: center;
}

.find-location-btn {
    background-color: var(--second-color);
    color: var(--primary-color);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
    width: 100%;
}

.find-location-btn:hover {
    background-color: var(--second-color-hover);
}